<div class=“container”>
 <%= simple_form_for [@cocktail, @dose] do |f| %>
   <%= f.association :ingredient, as: :check_boxes %>
   <%= f.input :description %>
   <%= f.submit "Swish Swish", class: "btn btn-primary" %>
 <% end %>
</div>
